body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif
}

h4 {
  font-weight: 100;
}

.account-view {
  width: 400px;
  border: 4px solid #3394c4;
}
/*
    HEADER
*/
.account-view___headers {
  display: flex;
  height: 40px;
  border-bottom: 2px solid #d0d0d0;
}

.account-view___headers > div{
  width: 100%;
  padding: 0 12px;
  height: 100%;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
}

.account-view___title--account {
  background-color: #f8f8f8;
  border-right: 1px solid #fff;
}

.account-view___title--account span {
  color: #555555;
  margin-bottom: 4px;
}

.account-view___title--avialable {
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0f2;
  color:#838383;
  border-left: 1px solid #fff;
}

.account-view___title--avialable > div {
   color: #555555;
}

.account-view___title--avialable > div span {
  color:  #3394c4;
  margin-right: 4px;
}

/*
     BODY
*/
.account-view__body {
  margin-top: 8px;
  padding-left: 12px
}

.account-view__row {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eeeeee;
}

.account-view__row h3{
  color: #3394c4;
  align-self: center
}

.account-view__row div {
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.account-view__available p {
  margin: 0;
}
.account-view__available > p {
  font-size: 20px;
}
.account-view__available p:last-child {
  font-size: 14px;
}

.account--positive {
  color: green;
}

.account--negative {
  color: #de122c;
}

.account-view__row--loader {
  width: 100%;
  color: #3394c4; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

